
<div class="w-[800px] mx-auto my-[100px]" data-controller="map">
    <div class="form-control w-full max-w-xs">
      <div class="label"><span class="label-text">Name</span></div>
      <div><%= @space.name %></div>
    </div>
    <div class="form-control w-full max-w-xs">
      <div class="label"><span class="label-text">Description</span></div>
      <div><%= @space.description %></div>
    </div>
    <div class="form-control w-full max-w-xs">
      <div class="label"><span class="label-text">Address</span></div>
      <div><%= @space.address %></div>
    </div>
    <div class="form-control w-full max-w-xs">
      <div class="label"><span class="label-text">Nearest station</span></div>
      <div><%= @space.nearest_station %></div>
    </div>
    <div class="form-control w-full max-w-xs">
      <div class="label"><span class="label-text">Space Types</span></div>
      <div>
        <ul>
          <% @space.space_types.each do |space_type| %>
            <li><%= space_type.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="form-control w-full max-w-xs">
      <div class="label"><span class="label-text">Features</span></div>
      <div>
        <ul>
          <% @space.features.each do |feature| %>
            <li><%= feature.name %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="map" data-map-target="map" class="h-[500px] mb-5"></div>

</div>

