<div class="hero min-h-screen" style="background-image: url(<%= asset_url('hero.jpg') %>);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <%= form_with(url: spaces_path, method: :get, local: true) do |form| %>
      <div class="flex gap-[30px]">
        <div class="w-[200px]">
          <%= form.collection_select :space_type_id, SpaceType.all, :id, :name, {include_blank: '会場タイプ'}, {class: "select select-bordered w-full max-w-xs"} %>
        </div>
        <div class="w-[300px]">
          <%= form.text_field :keyword, class: 'input input-bordered w-full max-w-xs', placeholder:"キーワード" %>
        </div>
        <div>
          <label for="my_modal_6" class="btn btn-active">こだわり条件</label>
          <input type="checkbox" id="my_modal_6" class="modal-toggle" />
          <div class="modal" role="dialog">
            <div class="modal-box">
              <h3 class="font-bold text-lg text-center">こだわり条件</h3>
              <div class="w-[400px] flex flex-wrap">
                <%= form.collection_check_boxes :feature_ids, Feature.all, :id, :name do |b| %>
                <div class="form-control mr-2">
                  <%= b.label class: "label cursor-pointer" do %>
                    <span class="label-text"><%= b.text %></span>
                    <span class="inline-block w-[10px]"></span>
                    <%= b.check_box class: "checkbox checkbox-primary" %>
                  <% end %>
                </div>
                <% end %>
              </div>
              <div class="modal-action">
                <label for="my_modal_6" class="btn">決定</label>
              </div>
            </div>
          </div>
        </div>
        <div>
          <%= form.submit class: "btn btn-primary", value: 'SEARCH!' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

